/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

h1{
    color: hwb(240 0% 0%);
}

div p{
    color: green;
}

.title{
    color: blueviolet;
}

#unique-title{
    color: brown;
}

h1{
    color: darkred;
}

.container-1{
    background-color: darkorange;
    width: 300px;
    height: 300px;
}

.container-2{
    background-color: darkslategray;
    width: 300px;
    height: 300px;
}

.container-2 p {
    color: darksalmon;
}